<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />    
    <!--
    
    <add name="AppServices" connectionString="Server=COR0023KR5H1\JPITALUA76;Database=ASPNETAppServices;User ID=sisadmin;Password=Invercap2008;Trusted_Connection=False;Provider=SQLOLEDB;"/>
    

    
        <add name="ASPNETWebConnections" connectionString="Data Source=D:\projects\AppSimplicity\v1.02\Data\ASPNETWebConnections.db3;Version=3;New=True;" providerName="SQLite"/>

   <add name="AppServices" connectionString="Server=ATHLONG\SQLEXPRESS;Database=ASPNETAppServices;User ID=sisdba;Password=admin;Trusted_Connection=False;Provider=SQLOLEDB;"/>


Server=localhost;Database=appsimplicity;Uid=sisdba;Pwd=94020386;default command timeout=20;Provider=SQLOLEDB;Database=appsimplicity;" 
       
      -->


      <add name="SICAIM" connectionString="Server=ANONYMOUS\SQLEXPRESS;Database=SICAIM;User ID=sicaimdb;Password=Sicaim2010;Trusted_Connection=False;" providerName="SQLServer" />




  </connectionStrings>
</configuration>
