<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />    
    <!--
    
    <add name="AppServices" connectionString="Server=COR0023KR5H1\JPITALUA76;Database=ASPNETAppServices;User ID=sisadmin;Password=Invercap2008;Trusted_Connection=False;Provider=SQLOLEDB;"/>
    

    
        <add name="ASPNETWebConnections" connectionString="Data Source=D:\projects\AppSimplicity\v1.02\Data\ASPNETWebConnections.db3;Version=3;New=True;" providerName="SQLite"/>

   <add name="AppServices" connectionString="Server=ATHLONG\SQLEXPRESS;Database=ASPNETAppServices;User ID=sisdba;Password=admin;Trusted_Connection=False;Provider=SQLOLEDB;"/>


Server=localhost;Database=appsimplicity;Uid=sisdba;Pwd=94020386;default command timeout=20;Provider=SQLOLEDB;Database=appsimplicity;" 

    <add name="SICAIM" connectionString="Server=ANONYMOUS\SQLEXPRESS;Database=SICAIM;User ID=sicaimdb;Password=Sicaim2010;Trusted_Connection=False;" providerName="SQLServer" />
    
    <add name="SecurityServices" connectionString="Server=COR0023KR5H1\JPITALUA76;Database=InvercapSecurityServices;User ID=sisadmin;Password=Invercap2008;Trusted_Connection=False;" providerName="SQLServer" />
    
    <?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <connectionStrings>
        <add name="InvercapFI" connectionString="Data Source=DESA07;Initial Catalog=SM_WebFI;Persist Security Info=True;User ID=devservicios;Password=gsidb2010;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
      -->



    <add name="InvercapFI" connectionString="Data Source=DESA07;Initial Catalog=SM_WebFI;Persist Security Info=True;User ID=devservicios;Password=gsidb2010;"
        providerName="System.Data.SqlClient" />





  </connectionStrings>
</configuration>
