<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppSimplicity.SchemaDiscovery" type="AppSimplicity.SchemaDiscovery.Engine.MetaDataProviderSection, AppSimplicity.SchemaDiscovery.Engine" />
  </configSections>
  <AppSimplicity.SchemaDiscovery>
    <providers>
      <add invariantName="System.Data.SqlClient" providerType="AppSimplicity.SchemaDiscovery.Providers.SqlServer.SQLServerMetaDataProvider, AppSimplicity.SchemaDiscovery.Providers" />
    </providers>     
  </AppSimplicity.SchemaDiscovery>
  <connectionStrings>
    <clear/>
    <add
      name="SomeERP"
      connectionString="Server=someerp.db.8635493.hostedresource.com;Database=someerp;User ID=someerp;Password=ErpTest2011;Trusted_Connection=False;"
      providerName="System.Data.SqlClient" />

    <!--<add name="Fototeca"
       connectionString="Server=Acer5736z\SQL2K5VMM;Database=AcervosConarte;User ID=ConarteUsr;Password=20386;Trusted_Connection=False;"
       providerName="System.Data.SqlClient"/>-->
  </connectionStrings>  
</configuration>
