<?xml version="1.0"?>
<configuration>
	<system.web>
		<pages>
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true">
		</compilation>
	</system.web>
	<system.webServer>
	</system.webServer>
	<connectionStrings>
		<add name="NetApplicationServices" connectionString="Server=COR0023KR5H1\JPITALUA76;Database=CargasMasivasApComercial;User ID=ApComercial;Password=Invercap2009;Trusted_Connection=False;" providerName="SQLServer"/>
	</connectionStrings>
	<system.codedom>
	</system.codedom>
</configuration>
