<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>    
    <add name="Conarte" connectionString="Server=Acer5736z\SQL2K5VMM;Database=Conarte;User ID=ConarteUsr;Password=20386;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
