<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add
      name="SomeERP"
      connectionString="Server=someerp.db.8635493.hostedresource.com;Database=someerp;User ID=someerp;Password=ErpTest2011;Trusted_Connection=False;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>