<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <!--<add
      name="SomeERP"
      connectionString="Server=someerp.db.8635493.hostedresource.com;Database=someerp;User ID=someerp;Password=ErpTest2011;Trusted_Connection=False;"
      providerName="System.Data.SqlClient" />-->

    <!--<add
      name="Conarte"
      connectionString="Server=someerp.db.8635493.hostedresource.com;Database=someerp;User ID=someerp;Password=ErpTest2011;Trusted_Connection=False;"
      providerName="System.Data.SqlClient" />-->

    <add name="Conarte"
       connectionString="Server=acervosconarte.db.8635493.hostedresource.com;Database=acervosconarte;User ID=acervosconarte;Password=Conarte2012;Trusted_Connection=False;"
       providerName="System.Data.SqlClient"/>

    <!--<add name="Conarte"
       connectionString="Server=Acer5736z\SQL2K5VMM;Database=Conarte;User ID=ConarteUsr;Password=20386;Trusted_Connection=False;"
       providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>